*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Lato","sans-serif";
    margin: 0;
}
.wrapper{
    display: flex;
    width: 100vw;
    height: 1000vh;
    background-color: #dfe6df;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #dfe6df;
   border: 2px solid gray;
}
.calendar{
    margin: auto;
    width: 600x;
    height: auto;
    background-color: #dfe6df;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
}
.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   text-align: center;
background-color: #2ecc71;
color: #fff;
padding: 40px 30px;
}
.weekend{
     display: flex;
     background-color: #2ecc71;
     color: #fff;
     padding:7px 0;
}
.weekend div{
    /* width: 14.28%;
    text-align: center; */
}
.days{
   display: flex;
   flex-wrap: wrap;
   /* text-align: center; */
   /* font-weight: 300;
   padding: 10px 0; */
}
.days div{
    /* width: 14.28%; */
  
    margin-bottom: 10px;
    padding: 10px 0;
    transition: all 0.4s;
}
.weekend div,
.days div{
    width: 14.28%;
    text-align: center;
}
 .days div:hover{       /*we have to go all element */
    background-color:#dfe6e9;
    cursor: pointer;
}
.today{
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #19da19;  
}
.prev_date{
    color: #999;  
}
#month{
    font-size: 30px;
    font-weight: 500;
}

.prev,
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 50px;
    height: 50px;
    background-color:rgba(0,0,0,0.1);
    background-color: 50%;
    transition: all  0.4s;
}

.prev:hover,
.next.hover{
     
    background-color: rgba(0,0,0,0.2);

}
