*{
    margin: 0;
}
body{
    font-family:"Lato","sans-serif";
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #dfe6df;
   border: 2px solid gray;
}
.calendar{
    margin: auto;
    width: 600ox;
    height: 400px;
    background-color: #dfe6df;
}
.month{
    display: flex;
    justify-content: space-between;
    width: 100%;
   text-align: center;
background: color #2ecc71;
color: yellow;
padding: 3rem;
}
.weekend{
     display: flex;
     background-color: #2ecc71;
     color: #fff;
     padding: 20px;
}
.weekend div{
    width: 14.28;
    text-align: center;
}
.days{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}
.days div{
    width: 14.28%;
    margin-bottom: 10px;
    padding: 10px 0;
}
.today{
    margin-bottom: 10px;
    padding: 10px 0;
}
}